/* Styling for home.html */
body {
    background-image: url("../images/grey-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: black;
}

p {
    font-size: 20px;
}

.btn.btn-primary {
    width: 300px;
    color: darkslategray;
    background-color: aquamarine;
    font: 400 20px Lato, sans-serif;
}

.jumbotron {
    background-color: bisque;
    opacity: .8;
}

/* styling for survey.html */
#inlineFormCustomSelect {
    width: 250px;
    color: darkslategray;
}

#survey-button {
    width: 200px;
    color: darkslategray;
    background-color: aquamarine;
    margin-left: 40px;
    font: 400 20px Lato, sans-serif;
}

.jumbotron.text-center {
    padding-top: 10px;
    padding-bottom: 10px;
}

form {
    margin-bottom: 30px;
}

/* Styling for the modal results pop-up. */
.modalDialog {
    position: fixed;
    font: 400 20px Lato, sans-serif;
    font-weight: bold;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(126, 235, 235);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.close:hover {
    background: #00d9ff;
}

#modal-pic {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#modal-text {
    text-align: center;
    font-size: 12px;
}