/* Styling for home.html */
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: black;
    background-color: whitesmoke;
}

#home {
    background-image: url("../images/grey-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: black;
}

p {
    font-size: 20px;
}

.btn.btn-primary {
    width: 300px;
    color: darkslategray;
    background-color: aquamarine;
    font: 400 20px Lato, sans-serif;
}

#home-button {
    width: 300px;
    color: darkslategray;
    background-color: aquamarine;
    font: 400 20px Lato, sans-serif;
}

.jumbotron {
    background-color: bisque;
    opacity: .8;
}

/* styling for survey.html */
.custom-select.mr-sm-2 {
    width: 250px;
    color: darkslategray;
}

#survey-button {
    width: 200px;
    color: darkslategray;
    background-color: aquamarine;
    margin-left: 40px;
    font: 400 20px Lato, sans-serif;
}

.jumbotron.text-center {
    padding-top: 10px;
    padding-bottom: 10px;
}

form {
    margin-bottom: 30px;
}

.footer {
    background-color: bisque;
    text-align: center;
    padding-top: 10px;
}

/* Styling for the modal results pop-up. */
.modal-header {
    background-color: aquamarine;
}

.modal-body {
    background-color: lightgrey;
}

.modal-footer {
    background-color: aquamarine;
}

#match-pic {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#match-message {
    text-align: center;
    font-size: 16px;
}
